/* GLOBAL LAYOUT SHELL */
.globalLayoutShell {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
}

/* GLOBAL LAYOUT CONTENT */
.globalLayoutContent {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}